@font-face {
    font-family: Yugioh;
    src: url(../../assets/yu-gi-oh-font-matrix-iiot-bold-betterstudio.com/MatrixIIOT-Bold.ttf);
}

.orange{
    width: 100%;
    height: calc(100vh - 100px);
    background-color: #CBAF93;
    display: flex;
    flex-direction: column;
}

.cardRow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 7%;
}

.card{
    height: 50%;
    order: 1;
}

.search{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    order: 2;
}

.searchTxt{
    font-family: Yugioh;
}

.inputField{
    font-family: Yugioh;
}

.searchBtn{
    width: 200px;
}

.btnBox{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .cardRow{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .card{
        order: 2;
    }

    .search{
        order: 1;
        height: auto;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 425px){
    .card{
        height: auto;
        width: 80%;
    }

    .search{
        width: 100%;
        display: flex;
        align-items: center;
    }

    .searchTxt{
        width: 70%;
    }

    .inputField{
        width: 70%;
    }
}